.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 6px;
}

.p-1 {
  padding: 10px;
}
